
.outer {
  position: relative;
  height: 500px;
  width: 100%;
}

.loginForm {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registrationForm {
  position: absolute;
  width: 30%;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%);
}

.errorMessage {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.role {
  background-color: burlywood;
  justify-content: space-evenly;
}

.fill {
  background-color: royalblue;
}